Package: applist
Name: AppList
Version: 1.2.1
Architecture: appletvos-arm64
Description: Allow extensions to read the list of installed apps, for tvOS!
Maintainer: Kevin Bradley
Author: Kevin Bradley & Ryan Petrich
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader (>= 1.5-1)
Section: System
Tag: role::developer
